.report
  %h2.kigyo-zyoho
    株式会社電通 [社内環境] 10〜15年目
  %h2.kigyo-zyoho2
    転職　男性　マーケ職
    %hr{:color => "#ffaaaa", :size => "3", :width => "100%"}/
  .top-image{:style => "background-image: url('#{image_path "hardwork1.jpg"}')"}
  %h2.theme
    本当に好きじゃないとできない仕事
  %h2
    .content
      本当に好きじゃないとできない仕事だと思う。実際に、何人も途中で辞めた人間を知っているし、いまでこそ改善する方策が取られてはいるけど、当時は150時間残業が当たり前の毎日だったから、そう思ってしまうのも無理はないかもしれない。ただ、広告に限らず、長い年月続けて働いてみないとその会社で働くことの醍醐味は感じられないとは思うから、働くと決めたなら苦しみながらも耐えてみるべき。電通という会社に関しては、もちろん経営面での強みは、他社より絶対的にあるとは思うけど、働き方とか雰囲気とか労働条件とかは、博報堂とかとほとんど変わらないと思う。恐い部署もあれば、恐い上司もいれば、優しい上司もいるし、おっとりした部署もあるから、どっちが自分に合うかは、本当に色んな人にあってなるべくN数を増やして、体感してみることが大切だと思う。会社の動向としては、デジタル(事例紹介:“Honda Internavi” https://www.youtube.com/watch?v=cKj1RdsG8as)やグローバル(イージスの買収など)の方針が取られているので、それを語れることはたしかに採用の面で有利なるかもしれないけれど、何より「こういう仕事がしたいんです」という妄想がはっきりと言えることが大切。その上で、敢えて要求するとすれば、ブレークスルーできるひと、そして普通の人とは全く違う発想ができる人、が重宝される世界だと思う。